<div class="dropdown">
  <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Category<span class="caret"></span></button>
  <form class="dropdown-menu">
    <input type="radio" name="category" value="male" id="hist"> <label for="hist">History</label><br>
    <input type="radio" name="category" value="sports" id="sports"> <label for="sports">Sports</label><br>
    <input type="radio" name="category" value="food" id="food"> <label for="food">Food</label><br>
    <input type="radio" name="category" value="travel" id="travel"> <label for="travel">Travel</label><br>
    <input type="radio" name="category" value="science" id="science"> <label for="science">Science</label><br>
    <input type="radio" name="category" value="films" id="films"> <label for="films">Films</label><br>
    <input type="radio" name="category" value="music" id="music"> <label for="music">Music</label><br>
    <input type="radio" name="category" value="politics" id="politics"> <label for="politics">Politics</label><br>
    <input type="radio" name="category" value="technology" id="technology"> <label for="technology">Technology</label><br>
    <input type="radio" name="category" value="nature" id="nature"> <label for="nature">Nature</label><br>
    <input type="radio" name="category" value="books" id="books"> <label for="books">Food</label><br>
    <input type="radio" name="category" value="fashion" id="fashion"> <label for="fashion">Fashion</label><br>
  </form>
</div>