<form action="/categorias/prueba" method="post" id="categoryform">
  <div id="categorycheckbox">
    <div class="col-md-6">
      <input type='checkbox' name='category[]' value='History' id="cat1"/>
      <label for="cat1"><img src="http://investorshub.advfn.com/uimage/icons/568110-small.png?cb=1473376817"/><p>History</p>
      </label><br>

      <input type='checkbox' name='category[]' value='Sports' id="cat2"/>
      <label for="cat2"><img src="http://investorshub.advfn.com/uimage/icons/568110-small.png?cb=1473376817"/><p>Sports</p>
      </label><br>

      <input type='checkbox' name='category[]' value='Food' id="cat3"/>
      <label for="cat3"><img src="http://investorshub.advfn.com/uimage/icons/568110-small.png?cb=1473376817"/><p>Food</p>
      </label><br>

      <input type='checkbox' name='category[]' value='Travel' id="cat4"/>
      <label for="cat4"><img src="http://investorshub.advfn.com/uimage/icons/568110-small.png?cb=1473376817"/><p>Travel</p>
      </label><br>

      <input type='checkbox' name='category[]' value='Science' id="cat5"/>
      <label for="cat5"><img src="http://investorshub.advfn.com/uimage/icons/568110-small.png?cb=1473376817"/><p>Science</p>
      </label><br>
    </div>
    <div class="col-md-6">
      <input type='checkbox' name='category[]' value='Films' id="cat6"/>
      <label for="cat6"><img src="http://investorshub.advfn.com/uimage/icons/568110-small.png?cb=1473376817"/><p>Films</p>
      </label><br>

      <input type='checkbox' name='category[]' value='Music' id="cat7"/>
      <label for="cat7"><img src="http://investorshub.advfn.com/uimage/icons/568110-small.png?cb=1473376817"/><p>Music</p>
      </label><br>

      <input type='checkbox' name='category[]' value='Politics' id="cat8"/>
      <label for="cat8"><img src="http://investorshub.advfn.com/uimage/icons/568110-small.png?cb=1473376817"/><p>Politics</p>
      </label><br>

      <input type='checkbox' name='category[]' value='Technology' id="cat9"/>
      <label for="cat9"><img src="http://investorshub.advfn.com/uimage/icons/568110-small.png?cb=1473376817"/><p>Tech</p>
      </label><br>
      
      <input type='checkbox' name='category[]' value='Nature' id="cat10"/>
      <label for="cat10"><img src="http://investorshub.advfn.com/uimage/icons/568110-small.png?cb=1473376817"/><p>Nature</p>
      </label><br><br>
    </div>
  </div>
  <div align="center">
    <button type="submit" value="Submit">Submit</button>
    <button type="reset" value="Reset">Reset</button>
  </div>
  
</form>